<!--<div class="top-section">-->
<!--  <div class="column">-->
<!--    <p>Player Name: <span>Carmen</span></p>-->
<!--  </div>-->
<!--  <div class="column">-->
<!--    <p>Playing Time: <span>00:20:13</span></p>-->
<!--  </div>-->
<!--  <div class="column">-->
<!--    <p>Location: <span>Village Hall</span></p>-->
<!--  </div>-->
<!--  <div class="column">-->
<!--    <p>Total Items: <span>3</span></p>-->
<!--  </div>-->
<!--  <div class="column">-->
<!--    <p>Health Level: <span>40%</span></p>-->
<!--  </div>-->

<!--  <button class="game-button red">Exit Game</button>-->
<!--</div>-->

<!--<div class="center-section">-->
  <!-- Content for the center section goes here -->
  <app-game></app-game>
<!--  <div class="right-section">-->
<!--    <h2 class="game-button orange">Inventory</h2>-->
<!--    <div class="grid">-->
<!--      <button class="square red">1</button>-->
<!--      <button class="square blue">2</button>-->
<!--      <button class="square green">3</button>-->
<!--      <button class="square brown">4</button>-->
<!--      <button class="square purple">5</button>-->
<!--      <button class="square orange">6</button>-->
<!--      <button class="square pink">7</button>-->
<!--      <button class="square teal">8</button>-->
<!--    </div>-->
<!--    <button class="game-button blue">Instructions</button>-->
<!--    <button class="game-button green">Locations</button>-->
<!--  </div>-->
<!--</div>-->
<!--<app-api-calls></app-api-calls>-->

<router-outlet />
